html {
    min-height :
        100%
}

body {
    background: linear-gradient(-30deg, indigo, whitesmoke);
}

#gridHolder {
    display: grid;
   background-color: whitesmoke;
   width: 1000px;
   height: 1000px;
   margin: auto;
}

#titleHolder {
    margin: auto;
}

h1 {
    margin:auto;
}
form {
    margin:auto;
}
input {
    margin:auto;
}
#color {
    height:100%;
}